.help {
  max-width: em(1440);
  background-color: clr(whity);
}

.help__title {
  @include flexType(f, c, c);
  margin-bottom: em(24);
  @include fontLineWeightLetter(16, 18, thin, db);
}

.help-list {
  @include listFlexGap(0);
}

.help-list__item {
  position: relative;
  @include itemFlexGap(0, 4);
  padding: em(90) em(50) em(160) em(50);
  @include transitionRules(background-image, opacity);

  &:hover,
  &:focus {
    background-image: url("../../images/overlay_img.jpg");
    cursor: pointer;
    opacity: 0.7;

    animation-name: imgPreview;
    animation-duration: 10000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @keyframes imgPreview {
      25% {
        background-image: url("../../images/smoothie_img.jpg");
      }
      50% {
        background-image: url("../../images/overlay_img.jpg");
      }
      75% {
        background-image: url("../../images/smoothie_img_four.jpg");
      }
      100% {
        background-image: url("../../images/smoothie_img_three.jpg");
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: em(100);
    left: em(30);
    display: block;
    height: em(8);
    width: em(8);
    border-radius: 50%;
    background-color: clr(orange);
  }
}

.help-list__item:nth-child(1) {
  background-color: clr(pink);
}

.help-list__item:nth-child(2) {
  background-color: clr(salad);
}

.help-list__item:nth-child(3) {
  background-color: clr(sky);
}

.help-list__item:nth-child(4) {
  background-color: clr(blue);
}

.help-list__title {
  position: relative;
  @include fontLineWeightLetter(32, 34, eb, neg);
  color: clr(whity);

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: em(-10);
    left: em(-10);
    right: em(-6);
    height: em(1);
    width: auto;
    background-color: clr(whity);
  }
}
