.header-button {
   display: block;

   @include forSize(mintab) {
      display: none;
   }

   &:hover,
   &:focus {
      border-radius: 50%;
      background-color: $accent-color;
      fill: $main-text-color;
   }
}

.mobile-menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   @include flexType(f, sb, null, c);
   padding-top: 48px;
   padding-left: 40px;
   background-image: url(../../images/trigger_bg.jpg);
   background-size: cover;
   background-repeat: repeat;
   background-position: top;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
   z-index: 1000;

   transform: translateX(100%);
   @include transitionRules();

   @include forSize(mintab) {
      display: none;
   }
}

.mobile-menu.is-open {
   transform: translateX(0);
}

.mobile-menu .header-button {
   position: absolute;
   top: 21px;
   right: 25px;
   color: $main-text-color;
}

.mobile-nav-list {
   @include flexType(f, c, c, c);
   padding-top: 40px;
}

.mobile-nav-list__item:not(:last-child) {
   margin-bottom: 18px;
}

.mobile-nav-list__item:last-child {
   margin-bottom: 0;
}

.mobile-nav-list__link {
   position: relative;
   @include fontLineWeightLetter(20, 27, bold, base);
   color: $sec-text-color;
   @include transitionRules();

   &:hover,
   &:focus {
      color: $accent-color;

      &::before {
         content: "";
         position: absolute;
         top: 12px;
         left: -100%;
         display: block;
         width: 100%;
         height: 3px;
         background-color: $accent-color;
      }

      &::after {
         content: "";
         position: absolute;
         top: 12px;
         right: -100%;
         display: block;
         width: 100%;
         height: 3px;
         background-color: $accent-color;
      }
   }
}
