// For :-moz

body {
  scrollbar-color: linear-gradient(180deg, #00c6fb, #005bea) #f9f9fd; /* «цвет ползунка» и «цвет полосы скроллбара» */
  scrollbar-width: auto;
}

// For ::webkit

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}
